@page
@model Airport.Soft.Areas.Airport.Pages.Airports.DetailsModel

@{
    Layout = "_Details";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back</a>
</div>
