@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.PassengerId)
    @Html.DisplayControlsFor(m => m.Item.PassengerOfFlightId)
    @Html.DisplayControlsFor(m => m.Item.StartDestinationId)
    @Html.DisplayControlsFor(m => m.Item.FinalDestinationId)
</body>