@page
@using Airport.Aids
@using Airport.Data.Flight
@using Airport.Data.Luggage
@using Airport.Data.Passenger
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.DetailsModel

@{
    Layout = "_Details";
    const string passengers = "/Passenger/Passengers";
    var passengerName = GetMember.Name<PassengerData>(x => x.Name);
    const string flights = "/Flight/Flights";
    var flightId = GetMember.Name<FlightData>(x => x.Plane);
    const string luggages = "/Luggage/Luggages";
    var luggageName = GetMember.Name<LuggageData>(x => x.Name);
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.DisplayControlsFor(m => m.Item.PassengerId)
    @Html.DisplayControlsFor(m => m.Item.FlightId)
    @Html.DisplayControlsFor(m => m.Item.LuggageId)
</body>

@section Details{
    @Html.HypertextLinkFor(string.Empty, new Link("Show passenger info",
        $"{passengers}/Index?fixedFilter={passengerName}&fixedValue={Model.Item.PassengerId}"))
    @Html.HypertextLinkFor(string.Empty, new Link("Show flight info",
        $"{flights}/Index?fixedFilter={flightId}&fixedValue={Model.Item.FlightId}"))
    @Html.HypertextLinkFor(string.Empty, new Link("Show luggage info",
        $"{luggages}/Index?fixedFilter={luggageName}&fixedValue={Model.Item.LuggageId}"))
}