@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.FlightOfPassenger.Pages.FlightOfPassengers.EditModel

@{
    Layout = "_Edit";
}

<body>
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsForDropDown(m => m.Item.PassengerId, Model.Passengers)
    @Html.EditControlsFor(m => m.Item.StartDestination)
    @Html.EditControlsFor(m => m.Item.FinalDestination)
    @Html.EditControlsForDropDown(m => m.Item.StopOverId, Model.StopOvers)
</body>
