@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Luggage.Pages.Luggages.EditModel

@{
    Layout = "_Edit";
}

@section Scripts { }

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsForDropDown(m => m.Item.PassengerId, Model.Passengers)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsForDropDown(m => m.Item.Dimensions, Model.Dimensions)
    @Html.EditControlsForDropDown(m => m.Item.Weight, Model.Weight)
</body>