@page
@model Airport.Soft.Areas.Luggage.Pages.Luggages.IndexModel

@{
    Layout = "_Index";
}

@section Create
{
    <a asp-page="Create">Create New</a>
}

<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Item.PassengerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item.Dimensions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item.Weight)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimensions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>