@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.PassengersFlight.Pages.PassengersFlights.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.PassengerId)
    @Html.EditControlsFor(m => m.Item.FlightsPassengerId)
    @Html.EditControlsFor(m => m.Item.StartDestinationId)    
    @Html.EditControlsFor(m => m.Item.FinalDestinationId)

</body>