@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Flight.Pages.Flights.CreateModel

@{
    Layout = "_Create";
}
@*<script language="javascript" type="text/javascript"> //tööle saada (Viljamiga tehtud)
        $(document).ready(function () {
            $.ajax({
        url: '@Url.Action("GETSubType", "Flight")',
        type: 'GET',
        data: { id: rowid },
        success: function(result) {

        }
    });
            $("#Typeid").change(function () {
                var dID = $('#Typeid option:selected').val();
                $.getJSON("/Flights/GETSubType", { Typeid: dID },
                    function (data) {
                        var select = $("#subtypeid");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select project sub-types"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });
        });

        //function GetCity(_stateId) {
        //    var procemessage = "<option value='0'> Please wait...</option>";
        //    $("#ddlcity").html(procemessage).show();
        //    var url = "/Create/GetCityByStateId/";

        //    $.ajax({
        //        url: url,
        //        data: { stateid: _stateId },
        //        cache: false,
        //        type: "POST",
        //        success: function (data) {
        //            var markup = "<option value='0'>Select City</option>";
        //            for (var x = 0; x < data.length; x++) {
        //                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
        //            }
        //            $("#ddlcity").html(markup).show();
        //        },
        //        error: function (reponse) {
        //            alert("error : " + reponse);
        //        }
        //    });

        //}
    </script>

    <body>*@


<body>

    <script language="javascript" type="text/javascript">

        var subjectObject = JSON.parse('@Html.Raw(Model.Countries)') //Mariliis
        window.onload = function () {
        var CountrySel = document.getElementById("Andorra");
        var CitySel = document.getElementById("CityId");
        for (var x in subjectObject) {
            CountrySel.options[CountrySel.options.length] = new Option(x, x);
        }
        CountrySel.onchange = function () {
            //display correct values
            for (var y in subjectObject[this.value]) {
                CitySel.options[CitySel.options.length] = new Option(y, y);
            }
        }
    </script>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.DropDownListFor(m => m.Item.StartingPoint, Model.Countries, "Please select")
        <br />
        <br />

        @Html.DropDownListFor(m => m.Item.CountryCity, Model.Cities, "Please select", new { onchange = "function()" })
        <br />
        <br />
    }

    @Html.EditControlsFor(m => m.Item.Id)
    @*@Html.EditControlsForDropDown(m => m.Item.StartingPoint, Model.Countries)
        @Html.DropDownListFor(m => m.Item.FinalPoint, Model.Countries, new {id = "Typeid", onchange = "location.href='@Url.Action='GETSubType', 'Flights')'" } )
        @Html.DropDownListFor(m => m.Item.CountryCity, Model.Cities, new { id = "subtypeid" })*@
    @*@Html.EditControlsForDropDown(m=>m.Item.CountryCity, Model.Cities)*@
    @Html.EditControlsFor(m => m.Item.StartTime)
    @Html.EditControlsFor(m => m.Item.ArrivingTime)
    @Html.EditControlsFor(m => m.Item.Occupancy)
    @Html.EditControlsFor(m => m.Item.Company)
    @Html.EditControlsFor(m => m.Item.Plane)
</body>

