@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Flight.Pages.Flights.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    @Html.DisplayControlsFor(m => m.Item.Id)
    @Html.EditControlsFor(m => m.Item.StartingPoint)
    @Html.DisplayControlsFor(m => m.Item.StartCity)
    @Html.EditControlsFor(m => m.Item.FinalPoint)
    @Html.DisplayControlsFor(m => m.Item.FinalCity)
    @Html.DisplayControlsFor(m => m.Item.StartTime)
    @Html.DisplayControlsFor(m => m.Item.ArrivingTime)
    @Html.DisplayControlsFor(m => m.Item.Occupancy)
    @Html.DisplayControlsFor(m => m.Item.Company)
    @Html.DisplayControlsFor(m => m.Item.Plane)
</body>