@page
@using Airport.Pages.Extensions
@model Airport.Soft.Areas.Flight.Pages.Flights.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.DisabledControlsFor(m => m.Item.Id)
    @Html.EditControlsForDropDown(m => m.Item.StartCountry, Model.Countries)
    @Html.EditControlsForDropDown(m => m.Item.StartCity, Model.Cities)
    @Html.EditControlsForDropDown(m => m.Item.FinalCountry, Model.Countries)
    @Html.EditControlsForDropDown(m => m.Item.FinalCity, Model.Cities)
    @Html.EditControlsFor(m => m.Item.StartTime)   
    @Html.EditControlsFor(m => m.Item.ArrivalTime)
    @Html.EditControlsFor(m => m.Item.Occupancy)
    @Html.EditControlsForDropDown(m => m.Item.Company, Model.Companies)
    @Html.EditControlsFor(m => m.Item.Plane)
</body>
